
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Roboto:wght@500&display=swap');



/* Header configuration */
header{
    padding: 1em;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size:large;
    background: #333;

} 
.navbar{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.logo img{
    max-width: 15%;
    height:auto;
}

/* Configuration regarding links */
header .nav-list {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    display:flex;
    justify-content:center;
}

li a, a {
    text-decoration: none;
    color:white;
}

.nav-list li {
    display:inline-block;
    padding:0px 20px;
}
.nav-list li a{
    transition: all 0.25s ease 0s;
}
.nav-list li a:hover{
    color:#767AF9;
    transition: all 0.25s ease 0s;
    border-bottom: solid 2.5px #767AF9;
}

.menu-line{
    width: 20px;
    height: 3px;
    background-color: white;
    margin-bottom: 3px;
}
.menu{
    display: none;
}
.menu:hover{
    opacity: 0,5;
}

/* Movile devices */
@media all and (max-width: 1050px){
    body .content{
        display:none;
    }
    .nav-list{
        position: absolute;
        top: 6vh;
        height:84vh;
        right:0px;
        background-color: #333;
        flex-direction: column;
        align-items: center;
        width: 35%;
        transform:translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
    .nav-list li{
        opacity:1;
        padding: 80px;
    }
    .menu { 
        display:block;
        cursor:pointer;
    }

}

.nav-active{
    transform: translateX(0%);
}

body{
    min-height: 100vh; 
    font-size: 10px;
    margin:0px;
    font-family: 'Roboto', sans-serif; 
    color: black;
    display:flex;
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    /* box-shadow: inset 0 0 5rem rgb(0 0 0 / 50%);*/
}

.content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh; 
}

.landscape{
    max-width: 50%;
    opacity: 1;
    transition: opacity .75s;
}
.landscape:hover{
    opacity: 0;
    transition: opacity .75s;
}
    

footer{
    margin-top: auto;
    font-family: 'Roboto', sans-serif;
    height: 35px;
    padding: 0.5em 1em 0.5em 1em;
    background: #333;
    font-size:50px;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
footer a{
    padding:0px 20px;
    transition: all 0.5s ease 0s;
}

footer a:hover {
    color:#767AF9;
}